# {{ .lab_name }}

{% include ["lab-description.md"] %}

{% if .marp_slides -%}
[Slides](https://{% raw %}{{gh.org_name}}{%endraw%}.github.io/{% raw %}{{gh.repo_name}}{%endraw%}/slides/{{ .__lab_slug }}.html){ target=_blank }  
[PDF Slides](https://{% raw %}{{gh.org_name}}{%endraw%}.github.io/{% raw %}{{gh.repo_name}}{%endraw%}/pdfs/{{ .__lab_slug }}.pdf){ target=_blank }

{% endif -%}

{% include ["lab-how-to-run.md"] %}

{% include ["lab-extra-info.md"] %}

{%- if cookiecutter.lab_topology != "custom" %}
{%     include ["docs/lab-topology.md"] %}
{%- endif %}

{% if .update_existing_files %}
{%-    with a_handwritten_tempate_name = "docs/" ~ cookiecutter.__lab_slug ~ ".md" %}
{%-        include [a_handwritten_tempate_name] ignore missing %}
{%-    endwith %}
{%- else %}
{%- include ["cc-under-construction-warning.md"] %}
{%- endif %}
