## How To Run The Lab

You can run the lab on [Github Codespaces](https://codespaces.new/{% raw %}{{gh.repository}}{%endraw%}/tree/{% raw %}{{gh.branch}}{%endraw%}?quickstart=1&devcontainer_path=.devcontainer%2F{{ lab_slug }}%2Fdevcontainer.json) or your own machine.

[Start :octicons-play-16: "{{ lab_name }}" in Codespace :octicons-mark-github-24:](https://codespaces.new/{% raw %}{{gh.repository}}{%endraw%}/tree/{% raw %}{{gh.branch}}{%endraw%}?quickstart=1&devcontainer_path=.devcontainer%2F{{ lab_slug }}%2Fdevcontainer.json){ .md-button .md-button--primary target=_blank}

To run the lab on your own machine, you can download all required files using the button below.

[Download all required lab files](https://{% raw %}{{gh.org_name}}{%endraw%}.github.io/aclabs/lab_archives/{{ lab_slug }}.tar.gz){ .md-button .md-button--primary target=_blank}

> WARNING: Currently only x86 hosts are supported. cEOS-lab for ARM is not yet available and it's not possible to start the lab on your MacBook yet.

???+ Tip "Wait until the lab is ready"

    When lab container starts, the `postCreate.sh` takes care of cEOS-lab image download and making some last minute changes in the lab environment. After that, `make start` shortcut is executed to start the lab.
    This requires a some time. :stopwatch: Please be patient. :coffee: :croissant:
    Sometimes cEOS-lab image download may fail. For example, due to incorrect token. In that case `postCreate.sh` script will fail and the lab will not be started.  
    You can confirm if image was imported correctly with `docker image ls`.  