# Lab Topology

{% if lab_topology == "minimalistic-l3ls-aa" -%}
![lab topology](assets/topos/minimalistic-l3ls-aa.png)
{% elif lab_topology == "minimalistic-l3ls-mlag" -%}
![lab topology](assets/topos/minimalistic-l3ls-mlag.png)
{% elif lab_topology == "small-l3ls-aa"  -%}
![lab topology](assets/topos/small-l3ls-aa.png)
{% elif lab_topology == "small-l3ls-mlag"  -%}
![lab topology](assets/topos/small-l3ls-mlag.png)
{% elif lab_topology == "atd-l3ls"  -%}
![lab topology](assets/topos/atd-l3ls.png)
{% else -%}
![lab topology](add-your-own-network-diagram-here)
{% endif -%}