---
site_name: Community Labs
site_url: https://aclabs.arista.com
repo_name: Arista Community Labs
repo_url: https://github.com/aristanetworks/aclabs

extra_css:
  - assets/stylesheets/extra.css

theme:
  logo: assets/img/arista-logo.png
  name: material
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    # - navigation.sections
    - navigation.tabs
    # enabling prune for testing only, to check if it's stable
    #   it's not making any difference with current site setup
    - navigation.prune
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    repo: fontawesome/brands/github
    logo: fontawesome/solid/gears
    annotation: material/plus-circle

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to light mode

markdown_extensions:
  - attr_list
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # allows list ident with 2 spaces
  - mdx_truly_sane_lists
  - md_in_html #Enable the use of captioned images via techniques shown here: https://squidfunk.github.io/mkdocs-material/reference/images/

copyright: >
  Copyright &copy; 2024 Arista Networks
  &nbsp;&#x1F36A;&nbsp;<a href="#__consent">Change cookie settings</a>

extra:
  consent:
    title: Cookie consent
    actions:
      - accept
      - reject
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  # analytics:
  #   provider: google
  #   property: G-SJDW948EQD
  #   feedback:
  #     title: Was this page helpful?
  #     ratings:
  #       - icon: material/emoticon-happy-outline
  #         name: This page was helpful
  #         data: 1
  #         note: >-
  #           Thanks for your feedback!
  #       - icon: material/emoticon-sad-outline
  #         name: This page could be improved
  #         data: 0
  #         note: >-
  #           Thanks for your feedback! Help us improve this page by
  #           using our <a href="..." target="_blank" rel="noopener">feedback form</a>.

plugins:
  - privacy
  - search
  - glightbox # Enable image zoom functionality (https://squidfunk.github.io/mkdocs-material/reference/images/#lightbox)
  # - macros:
  #     include_yaml:
  #       - gh: docs/assets/data/github.yml

nav:
  - Home:
      - About acLabs: index.md
      - Quickstart: quickstart.md
      # - Codespaces Quickstart: codespaces-quickstart.md
      # - Credits: credits.md
      - Tech Library Labs: tech-library-labs.md
      - Telemetry Labs: telemetry.md
  - CVaaS:
      - CVaaS and AVD Demo, EVPN MLAG: cvaas-cvaas-and-avd-demo--evpn-mlag.md
