[defaults]
# AVD recommended values
duplicate_dict_key=error
# Forks
forks = 25
# enable AVD global vars plugin
vars_plugins_enabled = arista.avd.global_vars, host_group_vars

[vars_global_vars]
paths = ../_global_vars/
