#!/usr/bin/env bash

cp -r ./ ../
rm -rf /workspaces/$(basename `git rev-parse --show-toplevel`)/{{ .__lab_slug }}

# print additional instructions
echo "The required files for {{ cookiecutter.lab_name }} were generated."
echo "Please review them before committing."
echo ""
echo "If you are creating a new demo, please do not forget to reference it in the 'nav' section of 'mkdocs.yml'"
echo ""
echo "Example:"
echo ""
echo "nav:"
echo "  - {{ cookiecutter.lab_group }}:"
echo "      - {{ cookiecutter.lab_name }}: {{ cookiecutter.__lab_slug }}.md"
