{% raw %}{{% endraw %}
    "image": "ghcr.io/${localEnv:GITHUB_REPOSITORY}/lab-base:python{{.python_version}}-avd-v{{.avd_version}}-clab{{.clab_version}}-rev{{.lab_container_revision}}"
{% raw %}}{% endraw %}