# Lab Topology

{% if cookiecutter.lab_topology == "minimalistic-l3ls-aa" %}
![lab topology](assets/topos/minimalistic-l3ls-aa.png)
{% elif cookiecutter.lab_topology == "minimalistic-l3ls-mlag"  %}
![lab topology](assets/topos/minimalistic-l3ls-mlag.png)
{% elif cookiecutter.lab_topology == "small-l3ls-aa"  %}
![lab topology](assets/topos/small-l3ls-aa.png)
{% elif cookiecutter.lab_topology == "small-l3ls-mlag"  %}
![lab topology](assets/topos/small-l3ls-mlag.png)
{% elif cookiecutter.lab_topology == "atd-l3ls"  %}
![lab topology](assets/topos/atd-l3ls.png)
{% endif %}