{% if type is arista.avd.defined('l3leaf') %}
{%     if router_bgp.address_family_evpn is arista.avd.defined %}
!
router bgp {{ router_bgp.as }}    
   !
   address-family evpn
      domain identifier 99:99 remote
{%          if _evpn_aa_multihoming is arista.avd.defined(true) %}
      route export ethernet-segment ip mass-withdraw
      route import ethernet-segment ip mass-withdraw
{%          endif %}
{%          if hostname == "B-LEAF7" or hostname == "B-LEAF8" %}
      neighbor default next-hop-self received-evpn-routes route-type ip-prefix inter-domain
{%          endif %}
{%      endif %}
{% endif %}
