{% if type is arista.avd.defined('l3leaf') %}
{%     if router_bgp.address_family_evpn is arista.avd.defined %}
!
router bgp {{ router_bgp.as }}    
   !
   address-family evpn
{%          if _evpn_aa_multihoming is arista.avd.defined(true) %}
      route export ethernet-segment ip mass-withdraw
      route import ethernet-segment ip mass-withdraw
{%          endif %}
{%          if hostname == "B-LEAF70" or hostname == "B-LEAF80" %}
      evpn ethernet-segment domain all
         identifier 0000:000b:0007:0008:0000
{%             if hostname == "B-LEAF8" %}         
         designated-forwarder election algorithm preference 1000
{%             endif %}
{%             if hostname == "B-LEAF7" %}
         designated-forwarder election algorithm preference 2000
{%             endif %}
         route-target import 00:0b:07:08:00:00
{%          endif %}
{%      endif %}
{% endif %}
