@keyframes heartbeat {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
    }
    .heartbeat {
    animation: heartbeat 1000ms infinite;
    }
    .opacity05 {
        opacity: 0.5;
    }
    .opacity06 {
        opacity: 0.6;
    }
    .opacity07 {
        opacity: 0.7;
    }
    .opacity08 {
        opacity: 0.8;
    }
    .opacity09 {
        opacity: 0.9;
    }
    .contrast90 {
        filter: contrast(90%);
    }
    .md-header {
        background: linear-gradient(to right, #16325B, #146095) !important;
    }
    .md-tabs {
        background: linear-gradient(to right, #16325B, #146095) !important;
    }
    .md-footer {
        background: linear-gradient(to right, #16325B, #146095) !important;
    }
    /* Explicitly set the color for filled buttons */
    a.md-button.md-button--primary {
        background-color: #4473a9 !important;
    }
    [data-md-color-scheme="slate"] {
        /* Arista True Black as dark mode background */
        --md-default-bg-color: #000000;
        /* Footer to Arista dark blue in dark mode */
        --md-footer-bg-color--dark: #16325B !important;
        /* settings below require for small screen or window */
        --md-primary-fg-color--dark: #16325B;
        --md-primary-fg-color--light: #16325B;
        --md-primary-fg-color: #16325B;
        --md-default-fg-color--lightest: #16325B;
    }
    [data-md-color-scheme="default"] {
        /* settings below require for small screen or window */
        --md-primary-fg-color--dark: #16325B;
        --md-primary-fg-color--light: #16325B;
        --md-primary-fg-color: #16325B;
    }