---
name: build lab-base images

on:
  push:
    branches: ['**']  # branches will be filtered in the jobs
    paths:
      - .github/workflows/container_build_child.yml
      - .github/workflows/container_build_parent_matrix.yml
      - containers/lab-base/**
  workflow_dispatch:
    branches: ['**']  # branches will be filtered in the jobs

permissions:
  packages: write

jobs:
  build-lab-containers:
    # fork - build container from any branch for testing
    # parent repo - build on main branch only
    if: github.repository != 'aristanetworks/acLabs' || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/container_build_child.yml
    strategy:
      matrix:
        from_image: ["ghcr.io/aristanetworks/avd/universal"]
        from_variant: ["python3.11-avd-v5.7.2", "python3.12-avd-v5.7.2"]
        clab_version: ["0.72.0"]
        user_id: ["1000", "1009"]
        include:
          - user_id: "1000"
            group_id: "1000"
          - user_id: "1009"
            group_id: "1009"
    with:
      from_image: ${{ matrix.from_image }}
      from_variant: ${{ matrix.from_variant }}
      clab_version: ${{ matrix.clab_version }}
      user_id: ${{ matrix.user_id }}
      group_id: ${{ matrix.group_id }}
      # the rev number will be updated with each run
      # 1.1 - initial version
      # 1.2:
      # - added fabiospampinato.vscode-terminals extension and templates
      # 1.3:
      # - Update ardl version
      # - Change ardl command to use `--format` instead of `--image-type`
      # - Add ContainerLab 0.65.1
      # 1.4:
      # - Add ContainerLab 0.67.0
      # - Add AVD 5.2.0
      # - Remove Terminals Manager Extension
      # 1.5:
      # - Add AVD 5.3.0
      #
      # 1.6:
      # - Add AVD 5.5.1
      # - Add ContainerLab 0.68.0
      # 1.7:
      # - Add ContainerLab 0.69.3
      # 2.0:
      # - Add ARM support
      # - Add code-server install for VSCode Web UI without supporting tools
      # - Switch to unified entrypoint
      # - Add image with UID 1009 for arista.labs
      # 2.1:
      # - Make CVURL format consistent with cv_deploy playbook. Now it requires www. to be part of CVURL.
      # - Entrypoint now builds CVURL_NO_PREFIX to account for apiserver. case
      # - remove playbook to set tags as it's using legacy role
      # 2.2:
      # - Add ContainerLab 0.71.0
      # - Add AVD 5.7.0
      # 2.3:
      # - Add ContainerLab 0.71.1
      # - Add yzhang.markdown-all-in-one extension to lab-base code server
      # - Update code server to 4.106.2 on lab-base
      # 2.4:
      # - Add AVD 5.7.2
      # 2.5:
      # - conditional moby for docker init
      # - Containerlab 0.72.0
      # - Code server 4.106.3
      # - disable Copilot chat
      # 2.5.1:
      # - bugfix: moby if condition must only ignore DinD script on Codespaces and VSCode
      # 2.5.2:
      # - bugfix: fix GID remapping
      # 2.6
      # - add lab status check on start
      container_revision: "2.6"
